.card {
    max-width: 250px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    color: var(--text);
    position: relative;
}

.card-text-container {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-title {
    font-size: 1rem;
}

.card > .card-text-container > p {
    padding: 0;
    line-height: 7px;
}

.card-price-info > span {
    margin-right: 0.5rem;
}

.card-badge {
    background-color: var(--primary-dark);
    color: #fff;
    position: absolute;
    z-index: 999;
    top: 0.5rem;
    left: 0.2rem;
    padding: 0.1rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}
